In [10]:
# Step 1 : Import and upload CVS
import pandas as pd
df = pd.read_table(r'C:\Users\jmira\OneDrive\Coding Temple Cohort 0501 0623\github\mongodb_streamlit_assignment_1_0607\student-mat.csv', sep= ';')
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
df.columns = df.columns.str.lower()
df.head()

,school,sex,age,address,famsize,pstatus,medu,fedu,mjob,fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,dalc,walc,health,absences,g1,g2,g3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,yes,no,yes,yes,no,no,4,3,2,1,2,5,4,6,10,10

In [ ]:
df.info()

In [15]:
df.rename(columns={
    'famsize': 'fam_size',
    'p_status]': 'p_status',
    'medu': 'mother_education',
    'fedu': 'father_education',
    'mjob': 'mother_job',
    'fjob': 'father_job',
    'traveltime': 'travel_time',
    'studytime': 'study_time',
    'schoolsup': 'school_support',
    'famsup': 'family_support',
    'famrel': 'family_relationship',
    'goout': 'going_out',
    'dalc': 'workday_alcohol_consumption',
    'walc': 'weekend_alcohol_consumption'
}, inplace=True)
df.head()

,school,sex,age,address,fam_size,p_status,mother_education,father_education,mother_job,father_job,reason,guardian,travel_time,study_time,failures,school_support,family_support,paid,activities,nursery,higher,internet,romantic,family_relationship,freetime,going_out,workday_alcohol_consumption,weekend_alcohol_consumption,health,absences,g1,g2,g3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,yes,no,yes,yes,no,no,4,3,2,1,2,5,4,6,10,10

In [ ]:
print(f'Number of Unique Values: {df["Phantom_Build"].unique()}')

What data are we cleaning?

1. lower casing all columns
2.